[Desktop Entry]
Icon=folder
Name=.com.yoxos.model.persistence.credentials
Type=Link
URL[$e]=file://$HOME/.com.yoxos.model.persistence.credentials
X-KDE-LastOpenedWith=
